@font-face {
  font-family: MSArial;
  src: url('./assets/ms-sans-serif-1.otf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background: transparent;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  /* background: blue; */
}

#assistant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  -webkit-app-region: drag;
}

#speech-bubble {
  font-family: MSArial, sans-serif;
  position: relative;
  max-width: 200px;
  padding: 6px;
  margin-bottom: 8px;

  background-color: #ffffbd;
  border: 1px solid black;
  border-radius: 12px;

  font-size: 14px;
}

#speech-bubble::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -9px;
  left: 50%;

  border-width: 10px;
  border-style: solid;
  border-color: transparent #ffffbd transparent transparent;
}